* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	outline: none;

	-webkit-tap-highlight-color: transparent;
}

a {
	color: inherit;
}

button,
input {
	font-family: inherit;
}

body {
	position: relative;

	min-width: 360px;

	font-family: var(--font-octos);
	color: var(--color-text-secondary);

	background-color: #000;
}

#root {
	@include media(xxl) {
		min-height: max(calc(var(--vh) * 100), vw(870));
	}

	@include media(xl) {
		min-height: max(calc(var(--vh) * 100), 750px);
	}

	@include media(lg) {
		min-height: max(calc(var(--vh) * 100), 700px);
	}

	@include media(sm) {
		min-height: max(calc(var(--vh) * 100), 550px);
	}

	position: relative;

	overflow: hidden;
	display: flex;
	flex-direction: column;

	min-height: max(calc(var(--vh) * 100), 870px);
	padding-right: var(--root-offset-right);
}

.container {
	@include media(xxl) {
		padding-right: vw(30);
		padding-left: vw(30);
	}

	@include media(xl) {
		padding-right: 20px;
		padding-left: 20px;
	}

	padding-right: 30px;
	padding-left: 30px;
}
