.wrapper {
	&__text {
		margin-bottom: 50px;
		text-align: center;
	}

	&__form {
		margin-bottom: 60px;
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__timer {
		margin-bottom: 50px;
	}
}
