.wrapper {
	@include media(lg) {
		transform: translateX(-189px);
		width: calc(100% + 389px);
	}

	@include media(sm) {
		transform: translateX(0);
		width: auto;
	}

	position: relative;

	&__circle {
		@include media(xxl) {
			width: vw(310);
			height: vw(310);
		}

		@include media(xl) {
			width: 232px;
			height: 232px;
		}

		@include media(sm) {
			display: none;
		}

		width: 310px;
		height: 310px;
		border: 1px solid var(--color-elements-secondary);
		border-radius: 50%;
	}

	&__content {
		@include media(sm) {
			justify-content: center;
		}

		position: relative;
		z-index: 1;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__slider {
		@include media(xxl) {
			left: vw(30);
			width: calc(100% - #{vw(60)});
		}

		@include media(xl) {
			left: 20px;
			width: calc(100% - 40px);
		}

		position: absolute;
		z-index: 0;
		top: 50%;
		left: 30px;
		transform: translateY(-50%);

		display: flex;

		width: calc(100% - 60px);
		height: 100%;
	}
}

.main {
	$p: &;

	position: relative;
	z-index: 1;

	display: flex;
	align-items: center;
	justify-content: center;

	&__border {
		align-self: stretch;
	}

	&__content {
		@include media(xxl) {
			width: vw(460);
			margin-right: vw(40);
			margin-left: vw(40);
		}

		@include media(xl) {
			width: 300px;
			margin-right: 50px;
			margin-left: 50px;
		}

		@include media(sm) {
			width: 230px;
			margin-right: 0;
			margin-left: 0;
		}

		position: relative;
		width: 460px;
		margin-right: 40px;
		margin-left: 40px;
	}

	&__circle {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.slider {
	$p: &;

	overflow: initial;
	width: 100%;

	&__slide {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		transition:
			0.6s left,
			0.6s transform,
			0.6s opacity;

		&_status {
			&_active {
				transform: translate(-50%, -50%);
			}

			&_prev {
				@include media(lg) {
					opacity: 0;
				}

				left: 0;
				transform: translate(0, -50%);
			}

			&_next {
				@include media(lg) {
					opacity: 0;
				}

				left: 100%;
				transform: translate(-100%, -50%);

				#{$p} {
					&__slide {
						transform: translate(100%, -100%);
					}
				}
			}
		}

		&Wrapper {
			position: relative;
			height: auto;
		}
	}
}

.arrow {
	@include media(sm) {
		position: absolute;
		z-index: 2;
		top: 50%;
		transform: translateY(-50%);
	}

	&_direction {
		&_left {
			@include media(sm) {
				left: calc(50% - 120px);
			}
		}

		&_right {
			@include media(sm) {
				right: calc(50% - 120px);
			}
		}
	}
}
