.wrapper {
	display: flex;
	justify-content: center;

	&__timer {
		font-weight: 700;
	}

	&__text {
		@include media(sm) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}
