._typography_variant_h1_175qf_1 {
	font-size: 38px;
	font-weight: 400;
	font-style: normal;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: 4.37px;
}
@media (max-width: 1919.98px) {
	._typography_variant_h1_175qf_1 {
		font-size: 1.9791666667vw;
		letter-spacing: 0.2276041667vw;
	}
}
@media (max-width: 1599.98px) {
	._typography_variant_h1_175qf_1 {
		font-size: 28px;
		letter-spacing: 3.22px;
	}
}
._typography_variant_h1_2_175qf_21 {
	font-size: 90px;
	font-weight: 400;
	font-style: normal;
	line-height: 112%;
	text-transform: uppercase;
	letter-spacing: 10.35px;
}
@media (max-width: 1919.98px) {
	._typography_variant_h1_2_175qf_21 {
		font-size: 4.6875vw;
		letter-spacing: 0.5390625vw;
	}
}
@media (max-width: 1599.98px) {
	._typography_variant_h1_2_175qf_21 {
		font-size: 66px;
		letter-spacing: 7.59px;
	}
}
@media (max-width: 1439.98px) {
	._typography_variant_h1_2_175qf_21 {
		font-size: 60px;
		letter-spacing: 6.9px;
	}
}
@media (max-width: 1023.98px) {
	._typography_variant_h1_2_175qf_21 {
		font-size: 42px;
		letter-spacing: 4.83px;
	}
}
._typography_variant_h2_175qf_53 {
	font-size: 28px;
	font-weight: 400;
	font-style: normal;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: 3.22px;
}
@media (max-width: 1919.98px) {
	._typography_variant_h2_175qf_53 {
		font-size: 1.4583333333vw;
		letter-spacing: 0.1677083333vw;
	}
}
@media (max-width: 1599.98px) {
	._typography_variant_h2_175qf_53 {
		font-size: 18px;
		letter-spacing: 2.07px;
	}
}
._typography_variant_bigfont_175qf_73 {
	font-size: 28px;
	font-weight: 400;
	font-style: normal;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: 3.22px;
}
@media (max-width: 1919.98px) {
	._typography_variant_bigfont_175qf_73 {
		font-size: 1.4583333333vw;
		letter-spacing: 0.1677083333vw;
	}
}
@media (max-width: 1599.98px) {
	._typography_variant_bigfont_175qf_73 {
		font-size: 18px;
		letter-spacing: 2.07px;
	}
}
@media (max-width: 1439.98px) {
	._typography_variant_bigfont_175qf_73 {
		font-size: 16px;
		letter-spacing: 1.84px;
	}
}
@media (max-width: 1023.98px) {
	._typography_variant_bigfont_175qf_73 {
		font-size: 14px;
		letter-spacing: 1.61px;
	}
}
._typography_variant_menuitem_175qf_105 {
	font-size: 100px;
	font-weight: 400;
	font-style: normal;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: 11.5px;
}
@media (max-width: 1919.98px) {
	._typography_variant_menuitem_175qf_105 {
		font-size: 5.2083333333vw;
		letter-spacing: 0.5989583333vw;
	}
}
@media (max-width: 1599.98px) {
	._typography_variant_menuitem_175qf_105 {
		font-size: 75px;
		letter-spacing: 8.625px;
	}
}
@media (max-width: 1439.98px) {
	._typography_variant_menuitem_175qf_105 {
		font-size: 54px;
		letter-spacing: 6.21px;
	}
}
@media (max-width: 1023.98px) {
	._typography_variant_menuitem_175qf_105 {
		font-size: 38px;
		letter-spacing: 4.37px;
	}
}
._typography_variant_menu_175qf_105 {
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: 2.07px;
}
@media (max-width: 1919.98px) {
	._typography_variant_menu_175qf_105 {
		font-size: 0.9375vw;
		letter-spacing: 0.1078125vw;
	}
}
@media (max-width: 1599.98px) {
	._typography_variant_menu_175qf_105 {
		font-size: 14px;
		letter-spacing: 1.61px;
	}
}
@media (max-width: 1439.98px) {
	._typography_variant_menu_175qf_105 {
		font-size: 12px;
		letter-spacing: 1.38px;
	}
}
@media (max-width: 1023.98px) {
	._typography_variant_menu_175qf_105 {
		font-size: 10px;
		letter-spacing: 1.15px;
	}
}
._typography_variant_text_175qf_169 {
	font-family: var(--font-roboto);
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	line-height: 130%;
}
@media (max-width: 1919.98px) {
	._typography_variant_text_175qf_169 {
		font-size: 0.8333333333vw;
	}
}
@media (max-width: 1599.98px) {
	._typography_variant_text_175qf_169 {
		font-size: 14px;
	}
}
@media (max-width: 1023.98px) {
	._typography_variant_text_175qf_169 {
		font-size: 12px;
	}
}
._typography_variant_boldText_175qf_191 {
	font-family: var(--font-roboto);
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 130%;
}
@media (max-width: 1919.98px) {
	._typography_variant_boldText_175qf_191 {
		font-size: 0.8333333333vw;
	}
}
@media (max-width: 1599.98px) {
	._typography_variant_boldText_175qf_191 {
		font-size: 14px;
	}
}
@media (max-width: 1023.98px) {
	._typography_variant_boldText_175qf_191 {
		font-size: 12px;
	}
}
._typography_variant_smallText_175qf_213 {
	font-family: var(--font-roboto);
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	line-height: 130%;
}
@media (max-width: 1919.98px) {
	._typography_variant_smallText_175qf_213 {
		font-size: 0.7291666667vw;
	}
}
@media (max-width: 1599.98px) {
	._typography_variant_smallText_175qf_213 {
		font-size: 12px;
	}
}
._typography_variant_desc_175qf_230 {
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: 1.84px;
}
@media (max-width: 1919.98px) {
	._typography_variant_desc_175qf_230 {
		font-size: 0.8333333333vw;
		letter-spacing: 0.0958333333vw;
	}
}
@media (max-width: 1599.98px) {
	._typography_variant_desc_175qf_230 {
		font-size: 12px;
		letter-spacing: 1.38px;
	}
}
._typography_variant_timer_175qf_250 {
	font-family: var(--font-roboto);
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	line-height: 150%;
}
@media (max-width: 1919.98px) {
	._typography_variant_timer_175qf_250 {
		font-size: 0.8333333333vw;
	}
}
@media (max-width: 1599.98px) {
	._typography_variant_timer_175qf_250 {
		font-size: 14px;
	}
}
@media (max-width: 1023.98px) {
	._typography_variant_timer_175qf_250 {
		font-size: 12px;
	}
}
._typography_variant_shipname_175qf_272 {
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: 2.07px;
}
@media (max-width: 1919.98px) {
	._typography_variant_shipname_175qf_272 {
		font-size: 0.9375vw;
		letter-spacing: 0.1078125vw;
	}
}
@media (max-width: 1599.98px) {
	._typography_variant_shipname_175qf_272 {
		font-size: 14px;
		letter-spacing: 1.61px;
	}
}
@media (max-width: 1023.98px) {
	._typography_variant_shipname_175qf_272 {
		font-size: 12px;
		letter-spacing: 1.38px;
	}
}
._typography_variant_stars_175qf_298 {
	font-size: 60px;
	font-weight: 400;
	font-style: normal;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: 6.9px;
}
@media (max-width: 1919.98px) {
	._typography_variant_stars_175qf_298 {
		font-size: 3.125vw;
		letter-spacing: 0.359375vw;
	}
}
@media (max-width: 1599.98px) {
	._typography_variant_stars_175qf_298 {
		font-size: 45px;
		letter-spacing: 5.175px;
	}
}
@media (max-width: 1439.98px) {
	._typography_variant_stars_175qf_298 {
		font-size: 36px;
		letter-spacing: 4.14px;
	}
}
@media (max-width: 1023.98px) {
	._typography_variant_stars_175qf_298 {
		font-size: 30px;
		letter-spacing: 3.45px;
	}
}
._typography_variant_number_175qf_330 {
	font-size: 40px;
	font-weight: 400;
	font-style: normal;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: 4.6px;
}
@media (max-width: 1919.98px) {
	._typography_variant_number_175qf_330 {
		font-size: 2.0833333333vw;
		letter-spacing: 0.2395833333vw;
	}
}
@media (max-width: 1599.98px) {
	._typography_variant_number_175qf_330 {
		font-size: 30px;
		letter-spacing: 3.45px;
	}
}
@media (max-width: 1439.98px) {
	._typography_variant_number_175qf_330 {
		font-size: 24px;
		letter-spacing: 2.76px;
	}
}
._typography_variant_bigplanetname_175qf_356 {
	font-size: 58px;
	font-weight: 400;
	font-style: normal;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: 6.67px;
}
@media (max-width: 1919.98px) {
	._typography_variant_bigplanetname_175qf_356 {
		font-size: 3.0208333333vw;
		letter-spacing: 0.3473958333vw;
	}
}
@media (max-width: 1599.98px) {
	._typography_variant_bigplanetname_175qf_356 {
		font-size: 42px;
		letter-spacing: 4.83px;
	}
}
@media (max-width: 1439.98px) {
	._typography_variant_bigplanetname_175qf_356 {
		font-size: 30px;
		letter-spacing: 3.45px;
	}
}
@media (max-width: 1023.98px) {
	._typography_variant_bigplanetname_175qf_356 {
		font-size: 22px;
		letter-spacing: 2.53px;
	}
}
._typography_variant_likes_175qf_388 {
	font-size: 34px;
	font-weight: 400;
	font-style: normal;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: 3.91px;
}
@media (max-width: 1919.98px) {
	._typography_variant_likes_175qf_388 {
		font-size: 1.7708333333vw;
		letter-spacing: 0.2036458333vw;
	}
}
@media (max-width: 1599.98px) {
	._typography_variant_likes_175qf_388 {
		font-size: 26px;
		letter-spacing: 2.99px;
	}
}
@media (max-width: 1439.98px) {
	._typography_variant_likes_175qf_388 {
		font-size: 18px;
		letter-spacing: 2.07px;
	}
}
._typography_variant_user_175qf_414 {
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: 1.84px;
}
@media (max-width: 1919.98px) {
	._typography_variant_user_175qf_414 {
		font-size: 0.8333333333vw;
		letter-spacing: 0.0958333333vw;
	}
}
@media (max-width: 1599.98px) {
	._typography_variant_user_175qf_414 {
		font-size: 14px;
		letter-spacing: 1.61px;
	}
}
