._button_1kwu6_1 {
	cursor: pointer;
	position: relative;
	padding: 6px;
	background: none;
	border: none;
}
@media (max-width: 1919.98px) {
	._button_1kwu6_1 {
		padding: 0.3125vw;
	}
}
@media (max-width: 1599.98px) {
	._button_1kwu6_1 {
		padding: 5px;
	}
}
@media (max-width: 1023.98px) {
	._button_1kwu6_1 {
		padding: 4px;
	}
}
._button_variant_light_1kwu6_23:hover ._button__circle_1kwu6_23,
._button_variant_light_1kwu6_23:active ._button__circle_1kwu6_23 {
	background-color: transparent;
}
._button_variant_light_1kwu6_23:hover ._button__icon_1kwu6_26,
._button_variant_light_1kwu6_23:active ._button__icon_1kwu6_26 {
	stroke: var(--color-elements-secondary);
}
._button_variant_light_1kwu6_23:disabled {
	cursor: not-allowed;
}
._button_variant_light_1kwu6_23:disabled ._button__circle_1kwu6_23 {
	background-color: transparent;
	border-color: var(--color-elements-disabled);
}
._button_variant_light_1kwu6_23:disabled ._button__line_1kwu6_36 {
	border-color: var(--color-elements-disabled);
}
._button_variant_light_1kwu6_23:disabled ._button__icon_1kwu6_26 {
	stroke: var(--color-elements-disabled);
}
._button_variant_light_1kwu6_23 ._button__circle_1kwu6_23 {
	background-color: var(--color-elements-secondary);
	border-color: var(--color-elements-secondary);
}
._button_variant_light_1kwu6_23 ._button__line_1kwu6_36 {
	border-color: var(--color-elements-secondary);
}
._button_variant_dark_1kwu6_49:hover ._button__circle_1kwu6_23,
._button_variant_dark_1kwu6_49:active ._button__circle_1kwu6_23 {
	background-color: var(--color-elements-secondary);
}
._button_variant_dark_1kwu6_49:hover ._button__icon_1kwu6_26,
._button_variant_dark_1kwu6_49:active ._button__icon_1kwu6_26 {
	stroke: var(--color-elements-primary);
}
._button_variant_dark_1kwu6_49:disabled {
	cursor: not-allowed;
}
._button_variant_dark_1kwu6_49:disabled ._button__circle_1kwu6_23 {
	background-color: transparent;
	border-color: var(--color-elements-disabled);
}
._button_variant_dark_1kwu6_49:disabled ._button__line_1kwu6_36 {
	border-color: var(--color-elements-disabled);
}
._button_variant_dark_1kwu6_49:disabled ._button__icon_1kwu6_26 {
	stroke: var(--color-elements-disabled);
}
._button_variant_dark_1kwu6_49 ._button__circle_1kwu6_23 {
	background-color: var(--color-elements-primary);
	border-color: var(--color-elements-primary);
}
._button_variant_dark_1kwu6_49 ._button__line_1kwu6_36 {
	border-color: var(--color-elements-primary);
}
._button_variant_dark_1kwu6_49 ._button__icon_1kwu6_26 {
	stroke: var(--color-elements-secondary);
}
._button__circle_1kwu6_23 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
	transition:
		0.3s background-color,
		0.3s border-color;
}
@media (max-width: 1919.98px) {
	._button__circle_1kwu6_23 {
		width: 1.4583333333vw;
		height: 1.4583333333vw;
	}
}
@media (max-width: 1599.98px) {
	._button__circle_1kwu6_23 {
		width: 21px;
		height: 21px;
	}
}
@media (max-width: 1023.98px) {
	._button__circle_1kwu6_23 {
		width: 17px;
		height: 17px;
	}
}
._button__icon_1kwu6_26 {
	width: 12px;
	height: 12px;
	stroke: var(--color-elements-primary);
	transition: 0.3s stroke;
}
@media (max-width: 1919.98px) {
	._button__icon_1kwu6_26 {
		width: 0.625vw;
		height: 0.625vw;
	}
}
@media (max-width: 1599.98px) {
	._button__icon_1kwu6_26 {
		width: 9px;
		height: 9px;
	}
}
@media (max-width: 1023.98px) {
	._button__icon_1kwu6_26 {
		width: 7px;
		height: 7px;
	}
}
._button__line_1kwu6_36 {
	position: absolute;
	transition: 0.3s border-color;
}
._button__line_orientation_horizontal_1kwu6_135 {
	left: 50%;
	transform: translate(-50%);
	width: 28px;
	border-top-style: solid;
	border-top-width: 1px;
}
@media (max-width: 1919.98px) {
	._button__line_orientation_horizontal_1kwu6_135 {
		width: 1.4583333333vw;
	}
}
@media (max-width: 1599.98px) {
	._button__line_orientation_horizontal_1kwu6_135 {
		width: 21px;
	}
}
@media (max-width: 1023.98px) {
	._button__line_orientation_horizontal_1kwu6_135 {
		width: 17px;
	}
}
._button__line_orientation_vertical_1kwu6_157 {
	top: 50%;
	transform: translateY(-50%);
	height: 28px;
	border-left-style: solid;
	border-left-width: 1px;
}
@media (max-width: 1919.98px) {
	._button__line_orientation_vertical_1kwu6_157 {
		height: 1.4583333333vw;
	}
}
@media (max-width: 1599.98px) {
	._button__line_orientation_vertical_1kwu6_157 {
		height: 21px;
	}
}
@media (max-width: 1023.98px) {
	._button__line_orientation_vertical_1kwu6_157 {
		height: 17px;
	}
}
._button__line_position_top_1kwu6_179 {
	top: 0;
}
._button__line_position_right_1kwu6_182 {
	right: 0;
}
._button__line_position_bottom_1kwu6_185 {
	bottom: 0;
}
._button__line_position_left_1kwu6_188 {
	left: 0;
}
