._button_1debg_1 {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	min-width: 300px;
	min-height: 120px;
	padding: 18px 35px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	background-color: var(--color-elements-tertiary);
	background-image: url(./background_ultra-light-dfI-kmNY.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border: none;
	transition:
		0.3s background-color,
		0.3s transform;
}
@media (max-width: 1919.98px) {
	._button_1debg_1 {
		min-width: 15.625vw;
		min-height: 6.25vw;
		padding: 0.9375vw 1.8229166667vw;
	}
}
@media (max-width: 1599.98px) {
	._button_1debg_1 {
		min-width: 175px;
		min-height: 70px;
		padding: 10px 20px;
	}
}
._button_1debg_1:disabled {
	cursor: not-allowed;
	transform: scale(0.9);
	background-color: var(--color-elements-disabled);
}
._button_1debg_1:disabled ._button__corner_1debg_37 {
	fill: var(--color-elements-disabled-dark);
}
._button_1debg_1:disabled ._button__line_1debg_40 {
	border-color: var(--color-elements-disabled-dark);
}
._button_1debg_1:disabled ._button__text_1debg_43 {
	color: var(--color-elements-disabled-dark);
}
._button_1debg_1:disabled ._button__content_1debg_46 {
	color: var(--color-text-disabled);
}
._button_1debg_1:not(._button_1debg_1:disabled):hover,
._button_1debg_1:not(._button_1debg_1:disabled):active {
	transform: scale(0.9);
	background-color: var(--color-elements-secondary);
}
._button__main_1debg_53 {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	padding: 0 13px;
}
@media (max-width: 1919.98px) {
	._button__main_1debg_53 {
		padding: 0 0.6770833333vw;
	}
}
@media (max-width: 1599.98px) {
	._button__main_1debg_53 {
		padding: 0 8px;
	}
}
._button__inner_1debg_71 {
	position: relative;
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}
._button__line_1debg_40 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 100%;
	border-right: 3px solid var(--color-elements-primary);
	transition: 0.3s border-color;
}
@media (max-width: 1919.98px) {
	._button__line_1debg_40 {
		border-right-width: 0.15625vw;
	}
}
@media (max-width: 1599.98px) {
	._button__line_1debg_40 {
		border-right-width: 2px;
	}
}
._button__line_position_left_1debg_96 {
	left: 0;
}
._button__line_position_right_1debg_99 {
	right: 0;
}
._button__corner_1debg_37 {
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	fill: var(--color-elements-primary);
	transition: 0.3s fill;
}
@media (max-width: 1919.98px) {
	._button__corner_1debg_37 {
		width: 0.8333333333vw;
		height: 0.8333333333vw;
	}
}
@media (max-width: 1599.98px) {
	._button__corner_1debg_37 {
		width: 9px;
		height: 9px;
	}
}
._button__corner_position_top_1debg_122 {
	top: 0;
}
._button__corner_position_right_1debg_125 {
	right: 0;
}
._button__corner_position_bottom_1debg_128 {
	bottom: 0;
}
._button__corner_position_left_1debg_131 {
	left: 0;
}
._button__corner_rotate_90_1debg_134 {
	transform: rotate(90deg);
}
._button__corner_rotate_180_1debg_137 {
	transform: rotate(180deg);
}
._button__corner_rotate_270_1debg_140 {
	transform: rotate(270deg);
}
._button__text_1debg_43 {
	position: absolute;
	font-size: 8px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	color: var(--color-elements-primary);
	text-transform: uppercase;
	letter-spacing: 0.92px;
	transition: 0.3s color;
}
@media (max-width: 1919.98px) {
	._button__text_1debg_43 {
		font-size: 0.4166666667vw;
		letter-spacing: 0.0479166667vw;
	}
}
@media (max-width: 1599.98px) {
	._button__text_1debg_43 {
		font-size: 5px;
		letter-spacing: 0.575px;
	}
}
._button__text_position_topLeft_1debg_166 {
	top: 16px;
	left: 8px;
}
@media (max-width: 1919.98px) {
	._button__text_position_topLeft_1debg_166 {
		top: 0.8333333333vw;
		left: 0.4166666667vw;
	}
}
@media (max-width: 1599.98px) {
	._button__text_position_topLeft_1debg_166 {
		top: 10px;
		left: 5px;
	}
}
._button__text_position_topRight_1debg_182 {
	top: 16px;
	right: 4px;
}
@media (max-width: 1919.98px) {
	._button__text_position_topRight_1debg_182 {
		top: 0.8333333333vw;
		right: 0.2083333333vw;
	}
}
@media (max-width: 1599.98px) {
	._button__text_position_topRight_1debg_182 {
		top: 10px;
		right: 2px;
	}
}
._button__text_position_bottomLeft_1debg_198 {
	bottom: 8px;
	left: 43px;
}
@media (max-width: 1919.98px) {
	._button__text_position_bottomLeft_1debg_198 {
		bottom: 0.4166666667vw;
		left: 2.2395833333vw;
	}
}
@media (max-width: 1599.98px) {
	._button__text_position_bottomLeft_1debg_198 {
		bottom: 4px;
		left: 25px;
	}
}
._button__text_position_bottomRight_1debg_214 {
	right: 36px;
	bottom: 8px;
}
@media (max-width: 1919.98px) {
	._button__text_position_bottomRight_1debg_214 {
		right: 1.875vw;
		bottom: 0.4166666667vw;
	}
}
@media (max-width: 1599.98px) {
	._button__text_position_bottomRight_1debg_214 {
		right: 21px;
		bottom: 4px;
	}
}
._button__content_1debg_46 {
	position: relative;
	z-index: 1;
	font-size: 28px;
	font-weight: 400;
	font-style: normal;
	line-height: 100%;
	color: var(--color-text-primary);
	text-transform: uppercase;
	letter-spacing: 3.22px;
	transition: 0.3s color;
}
@media (max-width: 1919.98px) {
	._button__content_1debg_46 {
		font-size: 1.4583333333vw;
		letter-spacing: 0.1677083333vw;
	}
}
@media (max-width: 1599.98px) {
	._button__content_1debg_46 {
		font-size: 16px;
		letter-spacing: 1.84px;
	}
}
@media (max-width: 1023.98px) {
	._button__content_1debg_46 {
		font-size: 14px;
	}
}
