._wrapper_8ay7f_1 {
	display: flex;
	align-items: center;
	padding-bottom: 55px;
	border-bottom: 1px solid var(--color-elements-secondary);
}
@media (max-width: 1919.98px) {
	._wrapper_8ay7f_1 {
		padding-bottom: 2.8645833333vw;
	}
}
@media (max-width: 1599.98px) {
	._wrapper_8ay7f_1 {
		padding-bottom: 30px;
	}
}
@media (max-width: 1439.98px) {
	._wrapper_8ay7f_1 {
		padding-bottom: 25px;
	}
}
@media (max-width: 1023.98px) {
	._wrapper_8ay7f_1 {
		padding-bottom: 20px;
	}
}
._wrapper__right_8ay7f_27 {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: space-between;
}
._wrapper__order_8ay7f_33 {
	min-width: 45px;
	margin-right: 30px;
}
@media (max-width: 1919.98px) {
	._wrapper__order_8ay7f_33 {
		min-width: 2.34375vw;
		margin-right: 1.5625vw;
	}
}
@media (max-width: 1599.98px) {
	._wrapper__order_8ay7f_33 {
		min-width: 35px;
		margin-right: 20px;
	}
}
@media (max-width: 1439.98px) {
	._wrapper__order_8ay7f_33 {
		min-width: 26px;
	}
}
._wrapper__name_8ay7f_54 {
	margin-right: 20px;
}
@media (max-width: 1919.98px) {
	._wrapper__name_8ay7f_54 {
		margin-right: 1.0416666667vw;
	}
}
@media (max-width: 1599.98px) {
	._wrapper__name_8ay7f_54 {
		margin-right: 20px;
	}
}
@media (max-width: 1023.98px) {
	._wrapper__name_8ay7f_54 {
		margin-right: 10px;
	}
}
