._rating_wl9j6_1 {
	display: flex;
	align-items: center;
	justify-content: center;
}
._rating_size_default_wl9j6_6 ._rating__icon_wl9j6_6 {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}
@media (max-width: 1919.98px) {
	._rating_size_default_wl9j6_6 ._rating__icon_wl9j6_6 {
		width: 2.0833333333vw;
		height: 2.0833333333vw;
		margin-right: 0.5208333333vw;
	}
}
@media (max-width: 1599.98px) {
	._rating_size_default_wl9j6_6 ._rating__icon_wl9j6_6 {
		width: 40px;
		height: 40px;
		margin-right: 10px;
	}
}
@media (max-width: 1023.98px) {
	._rating_size_default_wl9j6_6 ._rating__icon_wl9j6_6 {
		width: 20px;
		height: 20px;
		margin-right: 4px;
	}
}
._rating_size_small_wl9j6_32 ._rating__icon_wl9j6_6 {
	width: 20px;
	height: 20px;
	margin-right: 4px;
}
@media (max-width: 1919.98px) {
	._rating_size_small_wl9j6_32 ._rating__icon_wl9j6_6 {
		width: 1.0416666667vw;
		height: 1.0416666667vw;
		margin-right: 0.2083333333vw;
	}
}
@media (max-width: 1599.98px) {
	._rating_size_small_wl9j6_32 ._rating__icon_wl9j6_6 {
		width: 15px;
		height: 15px;
		margin-right: 4px;
	}
}
._rating__icon_wl9j6_6 {
	fill: var(--color-elements-primary);
}
._rating__text_wl9j6_54 {
	color: var(--color-text-primary);
}
