._planet_y9y6f_1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
@media (max-width: 1023.98px) {
	._planet_y9y6f_1 {
		flex-direction: row;
	}
}
._planet__img_y9y6f_11 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 74px;
}
@media (max-width: 1919.98px) {
	._planet__img_y9y6f_11 {
		width: 3.8541666667vw;
	}
}
@media (max-width: 1599.98px) {
	._planet__img_y9y6f_11 {
		width: 55px;
	}
}
@media (max-width: 1439.98px) {
	._planet__img_y9y6f_11 {
		width: 41px;
	}
}
._planet__imgWrapper_y9y6f_33 {
	position: relative;
	margin-bottom: 20px;
}
@media (max-width: 1919.98px) {
	._planet__imgWrapper_y9y6f_33 {
		margin-bottom: 1.0416666667vw;
	}
}
@media (max-width: 1599.98px) {
	._planet__imgWrapper_y9y6f_33 {
		margin-bottom: 15px;
	}
}
@media (max-width: 1439.98px) {
	._planet__imgWrapper_y9y6f_33 {
		margin-bottom: 10px;
	}
}
@media (max-width: 1023.98px) {
	._planet__imgWrapper_y9y6f_33 {
		margin-right: 10px;
		margin-bottom: 0;
	}
}
._planet__orion_y9y6f_58 {
	display: block;
	width: 115px;
}
@media (max-width: 1919.98px) {
	._planet__orion_y9y6f_58 {
		width: 5.9895833333vw;
	}
}
@media (max-width: 1599.98px) {
	._planet__orion_y9y6f_58 {
		width: 86px;
	}
}
@media (max-width: 1439.98px) {
	._planet__orion_y9y6f_58 {
		width: 65px;
	}
}
