._button_1chvk_1 {
	cursor: pointer;
	padding: 22px 47px;
	font-size: 28px;
	font-weight: 400;
	font-style: normal;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: 3.22px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border: 1px solid transparent;
	transition:
		0.3s background-color,
		0.3s border-color,
		0.3s color,
		0.3s background-image;
}
@media (max-width: 1919.98px) {
	._button_1chvk_1 {
		padding: 1.1458333333vw 2.4479166667vw;
		font-size: 1.4583333333vw;
		letter-spacing: 0.1677083333vw;
	}
}
@media (max-width: 1599.98px) {
	._button_1chvk_1 {
		padding: 12px 40px;
		font-size: 16px;
		letter-spacing: 1.84px;
	}
}
@media (max-width: 1023.98px) {
	._button_1chvk_1 {
		padding: 12px 40px;
		font-size: 14px;
	}
}
@media (max-width: 1023.98px) {
	._button_padding_shrink_1chvk_39 {
		padding: 12px 10px;
	}
}
._button_variant_primary_1chvk_43 {
	color: var(--color-text-primary);
	background-color: var(--color-elements-secondary);
	background-image: url(./background_light-DTG12kfR.png);
}
._button_variant_primary_1chvk_43:disabled {
	cursor: not-allowed;
	color: var(--color-text-disabled);
	background-color: var(--color-elements-disabled);
}
._button_variant_primary_1chvk_43:not(._button_variant_primary_1chvk_43:disabled):hover {
	background-color: var(--color-elements-white-grey);
}
._button_variant_primary_1chvk_43:not(._button_variant_primary_1chvk_43:disabled):active {
	background-color: var(--color-elements-white-grey);
}
._button_variant_secondary_1chvk_59 {
	color: var(--color-text-secondary);
	background-color: var(--color-elements-primary);
	background-image: url(./background_dark-FuDj5PI6.png);
}
._button_variant_secondary_1chvk_59:disabled {
	cursor: not-allowed;
	color: var(--color-text-disabled);
	background-color: var(--color-elements-disabled);
	background-image: url(./background_light-DTG12kfR.png);
}
._button_variant_secondary_1chvk_59:not(._button_variant_secondary_1chvk_59:disabled):hover {
	color: var(--color-text-primary);
	background-color: var(--color-elements-secondary);
	background-image: url(./background_light-DTG12kfR.png);
}
._button_variant_secondary_1chvk_59:not(._button_variant_secondary_1chvk_59:disabled):active {
	color: var(--color-text-primary);
	background-color: var(--color-elements-white-grey);
	background-image: url(./background_light-DTG12kfR.png);
}
._button_variant_dark_1chvk_80 {
	color: var(--color-text-secondary);
	background-color: var(--color-elements-primary);
}
._button_variant_dark_1chvk_80:disabled {
	cursor: not-allowed;
	color: var(--color-text-disabled);
	background-color: var(--color-elements-disabled);
	border-color: var(--color-elements-disabled);
}
._button_variant_dark_1chvk_80:not(._button_variant_dark_1chvk_80:disabled):hover,
._button_variant_dark_1chvk_80:not(._button_variant_dark_1chvk_80:disabled):active {
	background-color: transparent;
	border-color: var(--color-elements-secondary);
}
._button_variant_transparentLight_1chvk_94 {
	color: var(--color-text-secondary);
	background-color: transparent;
	border-color: var(--color-elements-secondary);
}
._button_variant_transparentLight_1chvk_94:disabled {
	cursor: not-allowed;
	color: var(--color-text-disabled);
	border-color: var(--color-elements-disabled);
}
._button_variant_transparentLight_1chvk_94:not(
		._button_variant_transparentLight_1chvk_94:disabled
	):hover,
._button_variant_transparentLight_1chvk_94:not(
		._button_variant_transparentLight_1chvk_94:disabled
	):active {
	color: var(--color-text-tertiary);
	border-color: var(--color-elements-tertiary);
}
._button_variant_transparentDark_1chvk_108 {
	color: var(--color-text-primary);
	background-color: transparent;
	border-color: var(--color-elements-primary);
}
._button_variant_transparentDark_1chvk_108:disabled {
	cursor: not-allowed;
	color: var(--color-text-disabled);
	border-color: var(--color-elements-disabled);
}
._button_variant_transparentDark_1chvk_108:not(
		._button_variant_transparentDark_1chvk_108:disabled
	):hover,
._button_variant_transparentDark_1chvk_108:not(
		._button_variant_transparentDark_1chvk_108:disabled
	):active {
	color: var(--color-text-tertiary);
	border-color: var(--color-elements-tertiary);
}
