._button_7wfdd_1 {
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
}
._button_7wfdd_1:hover ._button__icon_7wfdd_7,
._button_7wfdd_1:active ._button__icon_7wfdd_7 {
	fill: transparent;
}
._button_7wfdd_1:disabled ._button__icon_7wfdd_7 {
	fill: transparent;
	stroke: var(--color-elements-disabled);
}
._button_direction_right_7wfdd_14 ._button__icon_7wfdd_7 {
	transform: rotate(180deg);
}
._button__icon_7wfdd_7 {
	display: block;
	width: 36px;
	height: 118px;
	fill: var(--color-elements-secondary);
	stroke: var(--color-elements-secondary);
	transition:
		0.3s stroke,
		0.3s fill;
}
@media (max-width: 1919.98px) {
	._button__icon_7wfdd_7 {
		width: 1.875vw;
		height: 6.1458333333vw;
	}
}
@media (max-width: 1599.98px) {
	._button__icon_7wfdd_7 {
		width: 27px;
		height: 88px;
	}
}
@media (max-width: 1023.98px) {
	._button__icon_7wfdd_7 {
		width: 15px;
		height: 48px;
	}
}
