._loading_1dcry_1 {
	width: 100px;
	height: 100px;
	animation-name: _loading_1dcry_1;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@media (max-width: 1919.98px) {
	._loading_1dcry_1 {
		width: 5.2083333333vw;
		height: 5.2083333333vw;
	}
}
@media (max-width: 1599.98px) {
	._loading_1dcry_1 {
		width: 51px;
		height: 51px;
	}
}
@keyframes _loading_1dcry_1 {
	0% {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
