._border_s8w5i_1 {
	width: 40px;
	height: 40px;
	border-color: var(--color-elements-primary);
	border-style: solid;
	border-width: 0;
}
@media (max-width: 1919.98px) {
	._border_s8w5i_1 {
		width: 2.0833333333vw;
		height: 2.0833333333vw;
	}
}
@media (max-width: 1599.98px) {
	._border_s8w5i_1 {
		width: 30px;
		height: 30px;
	}
}
@media (max-width: 1439.98px) {
	._border_s8w5i_1 {
		width: 20px;
		height: 20px;
	}
}
._border_variant_topLeft_s8w5i_26 {
	border-top-width: 1px;
	border-left-width: 1px;
}
._border_variant_topRight_s8w5i_30 {
	border-top-width: 1px;
	border-right-width: 1px;
}
._border_variant_bottomLeft_s8w5i_34 {
	border-bottom-width: 1px;
	border-left-width: 1px;
}
._border_variant_bottomRight_s8w5i_38 {
	border-right-width: 1px;
	border-bottom-width: 1px;
}
._border_hide_top_s8w5i_42 {
	border-top: none;
}
@media (min-width: 1024px) {
	._border_hide_left_s8w5i_46 {
		border-left: none;
	}
}
@media (max-width: 1023.98px) {
	._border_hideMobile_top_s8w5i_51 {
		border-top: none;
	}
}
