._select_1a058_1 {
	position: relative;
}
._select_status_opened_1a058_4 ._select__dropdown_1a058_4 {
	visibility: visible;
	opacity: 1;
}
._select_status_opened_1a058_4 ._select__top_1a058_8 {
	color: var(--color-text-white-grey);
	border-color: var(--color-elements-white-grey);
}
._select_status_opened_1a058_4 ._select__top_1a058_8 ._select__arrow_1a058_12 {
	transform: rotate(180deg);
	border-color: var(--color-elements-white-grey) transparent transparent;
}
._select_status_disabled_1a058_16 ._select__dropdown_1a058_4 {
	visibility: hidden;
	opacity: 0;
}
._select_status_disabled_1a058_16 ._select__top_1a058_8 {
	cursor: not-allowed;
	color: var(--color-text-disabled);
	border-color: var(--color-elements-disabled);
}
._select_status_disabled_1a058_16 ._select__top_1a058_8 ._select__arrow_1a058_12 {
	border-color: var(--color-elements-disabled) transparent transparent;
}
._select_status_disabled_1a058_16 ._select__top_1a058_8:hover,
._select_status_disabled_1a058_16 ._select__top_1a058_8:active {
	color: var(--color-text-disabled);
	border-color: var(--color-elements-disabled);
}
._select_status_disabled_1a058_16 ._select__top_1a058_8:hover ._select__arrow_1a058_12,
._select_status_disabled_1a058_16 ._select__top_1a058_8:active ._select__arrow_1a058_12 {
	border-color: var(--color-elements-disabled) transparent transparent;
}
._select__top_1a058_8 {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 14px;
	color: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-bottom: 1px solid var(--color-elements-secondary);
	transition:
		0.3s color,
		0.3s border-color;
}
@media (max-width: 1919.98px) {
	._select__top_1a058_8 {
		padding-bottom: 0.7291666667vw;
	}
}
@media (max-width: 1599.98px) {
	._select__top_1a058_8 {
		padding-bottom: 11px;
	}
}
._select__top_1a058_8:hover,
._select__top_1a058_8:active {
	color: var(--color-text-white-grey);
}
._select__top_1a058_8:hover ._select__arrow_1a058_12,
._select__top_1a058_8:active ._select__arrow_1a058_12 {
	border-color: var(--color-elements-white-grey) transparent transparent;
}
._select__arrow_1a058_12 {
	width: 0;
	height: 0;
	border-color: var(--color-elements-secondary) transparent transparent;
	border-style: solid;
	border-width: 10px 5px 0;
	transition: 0.3s border-color;
}
@media (max-width: 1919.98px) {
	._select__arrow_1a058_12 {
		border-width: 0.5208333333vw 0.2604166667vw 0;
	}
}
@media (max-width: 1599.98px) {
	._select__arrow_1a058_12 {
		border-width: 10px 5px 0;
	}
}
._select__dropdown_1a058_4 {
	position: absolute;
	z-index: 100;
	top: 100%;
	width: 100%;
	padding-top: 10px;
	visibility: hidden;
	opacity: 0;
}
@media (max-width: 1919.98px) {
	._select__dropdown_1a058_4 {
		padding-top: 0.5208333333vw;
	}
}
@media (max-width: 1599.98px) {
	._select__dropdown_1a058_4 {
		padding-top: 7px;
	}
}
._select__main_1a058_102 {
	padding: 22px;
	background-color: var(--color-elements-primary);
	border: 1px solid var(--color-elements-background-stroke);
}
@media (max-width: 1919.98px) {
	._select__main_1a058_102 {
		padding: 1.1458333333vw;
	}
}
@media (max-width: 1599.98px) {
	._select__main_1a058_102 {
		padding: 15px;
	}
}
._select__list_1a058_117 {
	list-style: none;
}
._select__item_1a058_120:not(:last-child) {
	margin-bottom: 28px;
}
@media (max-width: 1919.98px) {
	._select__item_1a058_120:not(:last-child) {
		margin-bottom: 1.4583333333vw;
	}
}
@media (max-width: 1599.98px) {
	._select__item_1a058_120:not(:last-child) {
		margin-bottom: 15px;
	}
}
._select__button_1a058_133 {
	cursor: pointer;
	color: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	transition: 0.3s color;
}
._select__button_1a058_133:hover {
	color: var(--color-text-white-grey);
}
