.wrapper {
	@include media(sm) {
		transform: translateY(10px);
	}

	&__input {
		@include media(xxl) {
			margin-bottom: vw(40);
		}

		@include media(xl) {
			margin-bottom: 35px;
		}

		margin-bottom: 40px;
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__submit {
		@include media(xxl) {
			margin-bottom: vw(20);
		}

		@include media(xl) {
			margin-bottom: 20px;
		}

		@include media(sm) {
			margin-bottom: 15px;
		}

		margin-bottom: 20px;
	}
}
