.button {
	$p: &;

	@include media(sm) {
		width: 45px;
		text-align: center;
	}

	cursor: pointer;

	display: flex;
	align-items: center;

	background: none;
	border: none;

	&__img {
		border-color: var(--color-elements-secondary);
		fill: var(--color-elements-secondary);
		transition:
			0.3s fill,
			0.3s border-color;
	}

	&:hover,
	&:active {
		#{$p} {
			&__img {
				border-color: var(--color-elements-white-grey);
				fill: var(--color-elements-white-grey);
			}

			&__text {
				color: var(--color-text-white-grey);
			}
		}
	}

	&:disabled {
		cursor: not-allowed;

		#{$p} {
			&__img {
				border-color: var(--color-elements-disabled);
				fill: var(--color-elements-disabled);
			}

			&__text {
				color: var(--color-text-disabled);
			}
		}
	}

	&_direction {
		&_default {
			@include media(sm) {
				flex-direction: column;
			}

			#{$p} {
				&__img {
					@include media(xxl) {
						margin-right: vw(16);
					}

					@include media(xl) {
						margin-right: 10px;
					}

					@include media(sm) {
						margin-right: 0;
						margin-bottom: 10px;
					}

					margin-right: 16px;
				}
			}
		}

		&_reversed {
			@include media(sm) {
				flex-direction: column;
			}

			flex-direction: row-reverse;

			#{$p} {
				&__img {
					@include media(xxl) {
						margin-left: vw(16);
					}

					@include media(xl) {
						margin-left: 10px;
					}

					@include media(sm) {
						margin-bottom: 10px;
						margin-left: 0;
					}

					margin-left: 16px;
				}
			}
		}
	}

	&__text {
		color: var(--color-text-secondary);
		transition: 0.3s color;
	}
}
