.tab {
	@include media(xxl) {
		padding: vw(29) vw(77);
	}

	@include media(xl) {
		padding: 22px 55px;
	}

	cursor: pointer;

	padding: 29px 77px;

	color: var(--color-text-secondary);

	appearance: none;
	background-color: var(--color-elements-background-opacity);
	border: 1px solid var(--color-elements-background-stroke);

	transition: 0.3s border-color;

	&:hover,
	&:active,
	&_status_active {
		border-color: var(--color-elements-secondary);
	}

	&:disabled {
		cursor: not-allowed;
		color: var(--color-text-disabled);
		border-color: var(--color-elements-disabled);
	}
}
