.header {
	padding-top: 30px;

	&__container {
		position: relative;
		display: flex;
		justify-content: center;
	}

	&__left,
	&__right {
		position: absolute;
		bottom: 0;
	}

	&__right {
		right: 0;
		display: flex;
		align-items: center;
	}

	&__left {
		left: 0;
	}

	&__journal {
		margin-right: 80px;
	}
}
