@font-face {
	font-family: 'TT Octosquares Trl Cmd';
	font-weight: 400;
	font-display: swap;
	src:
		url('../fonts/octos/TTOctosquaresTrlCmd-Rg.woff2') format('woff2'),
		url('../fonts/octos/TTOctosquaresTrlCmd-Rg.woff') format('woff'),
		url('../fonts/octos/TTOctosquaresTrlCmd-Rg.ttf') format('truetype');
}

@font-face {
	font-family: Roboto;
	font-weight: 300;
	font-display: swap;
	src:
		url('../fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
		url('../fonts/Roboto/Roboto-Thin.woff') format('woff'),
		url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
	font-family: Roboto;
	font-weight: 400;
	font-display: swap;
	src:
		url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
		url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Roboto;
	font-weight: 700;
	font-display: swap;
	src:
		url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
		url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
		url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}
