.planet {
	$p: &;

	cursor: pointer;

	position: relative;

	appearance: none;
	background: none;
	border: none;

	&:hover {
		#{$p} {
			&__orion,
			&__cursor {
				opacity: 1;
			}
		}
	}

	&_mobile {
		&_titleDirection {
			&_left {
				#{$p} {
					&__title {
						@include media(sm) {
							right: calc(100% + 15px);
							text-align: right;
						}
					}
				}
			}

			&_right {
				#{$p} {
					&__title {
						@include media(sm) {
							left: calc(100% + 15px);
							text-align: left;
						}
					}
				}
			}
		}
	}

	&__img {
		position: relative;
		z-index: 1;
		display: block;
		width: 100%;
	}

	&__title {
		@include media(xxl) {
			top: calc(100% + #{vw(40)});
		}

		@include media(xl) {
			top: calc(100% + 40px);
		}

		@include media(sm) {
			top: 50%;
			left: auto;
			transform: translateY(-50%);
			width: auto;
		}

		position: absolute;
		z-index: 1;
		top: calc(100% + 40px);
		left: 0;

		width: 100%;

		color: var(--color-text-secondary);
		text-align: center;
	}

	&__orion,
	&__cursor {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		display: block;

		opacity: 0;

		transition: 0.3s opacity;
	}

	&__orion {
		z-index: 0;
		width: 125%;
	}

	&__cursor {
		@include media(xxl) {
			width: vw(55);
		}

		@include media(xl) {
			width: 40px;
		}

		@include media(sm) {
			width: 25px;
		}

		z-index: 2;
		width: 55px;
	}
}
